<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect("http://3.92.213.171:5000")
        socket.on('connect',function(){
            socket.send("User connected!");
            });
        socket.on('message',function(data){
            $('#messages').append($('<p>').text(data));
            });
        $('#send_button').on('click',function(){
            socket.send($('#username').val() + ':' + $('#message').val());
            $('#message').val('');
            });
    });
</script>
<!--    This is an index page-->
    <div id="messages">Messages here</div>
    <input type="text" id="username" placeholder="User Name">
    <input type="text" id="message" placeholder="Message">
    <button id="send_button">Send</button>
</body>
</html>
